.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.imageOptions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 0.5rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: var(--border-radius-default);
  border: 0.25rem solid var(--image-border-color, transparent);

  &.selected {
    --image-border-color: var(--accent);
  }
}

.image {
  object-fit: cover;
}
