.list {
  list-style: none;
}

.item {
  display: flex;
  gap: 0.25rem;
}

.checkbox {
  margin-block-start: calc(5 / 16 * 1rem);
  height: var(--font-size-base);
  width: var(--font-size-base);
}

.checkbox:checked + label {
  text-decoration: line-through;
}
