.button {
  border: none;
  background-color: var(--button-background, transparent);
  padding: var(--button-padding, 0.5rem 0.75rem);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: var(--font-size-base);
  cursor: pointer;
}

.primary {
  --button-background: var(--button-primary-background);

  color: var(--button-primary-text);

  &:hover {
    --button-background: var(--button-primary-hover);
  }

  &:active {
    --button-background: var(--button-primary-active);
  }
}

.secondary {
  border: 1px solid var(--button-secondary-border);

  &:hover {
    --button-background: var(--button-secondary-hover);
  }

  &:active {
    --button-background: var(--button-secondary-active);
  }
}

.iconButton {
  --button-padding: 0.5rem;

  height: 2rem;
  width: 2rem;
}

.iconButton :global(svg) {
  height: 100%;
  width: 100%;
}
