.ingredientsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.ingredient {
  display: grid;
  gap: 0.25rem;
  align-items: center;
  grid-template-areas:
    "drag-handle quantity ingredient delete"
    ". . picker  .";
  grid-template-columns: min-content min-content auto min-content;

  @media (width >= 768px) {
    grid-template-areas: "drag-handle quantity ingredient picker delete";
    grid-template-columns: min-content min-content 1fr 10rem min-content;
  }
}

/* Grid */
.dragHandleButton {
  grid-area: drag-handle;
}

.quantityInput {
  grid-area: quantity;
}

.ingredientInput {
  grid-area: ingredient;
}

.ingredientPickerContainer {
  grid-area: picker;
  min-width: 0;
}

.deleteButton {
  grid-area: delete;
}

.ingredientIdButton {
  width: 100%;
  justify-content: flex-start;
}

.ingredientIdButtonText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}
