.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--background-card);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-default);
  height: 3rem;

  &:has(input) {
    padding-inline-start: 0.5rem;
  }
}

.editButtons {
  display: flex;
  gap: 0.5rem;
}

.name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
