.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (width >= 768px) {
    flex-flow: row wrap;
  }
}

.ingredientFilterButton {
  min-width: 12rem;
}

.equipmentFilterButton {
  min-width: 9rem;
}

.buttonsContainer {
  display: flex;
  gap: 0.5rem;
  margin-inline-start: auto;
}

.searchButton {
  min-width: 6.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.clearButton {
  min-width: 5.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
