.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (width >= 768px) {
    flex-direction: row;
  }
}

.selectableSearchPopoverButton {
  min-width: 14rem;
}

.searchButton {
  min-width: 6.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.clearButton {
  min-width: 5.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
