.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.fullWidth {
  width: 100%;
}

.input {
  height: 100%;

  &::placeholder {
    color: var(--text-muted);
  }
}

.textarea {
  resize: none;
  field-sizing: content;
}
