.container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.select {
  min-height: 2.25rem;
  padding: 0.5rem;
  font-size: var(--font-size-base);

  &:has(option[value=""]:checked) {
    color: var(--text-muted);
  }
}
