.page {
  display: flex;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
}

.main {
  width: 100%;
}

.recipeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.recipeCard {
  list-style: none;
}