.navbar {
  padding-block: 0.5rem;
  border-bottom: 1px solid var(--divider);
}

.links {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 clamp(1rem, 4vw, 1.25rem);
}

.links,
.left,
.right {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.item {
  list-style: none;
}

.right {
  margin-inline-start: auto;
}

.link {
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-default);
  transition: all 0.2s ease;
  text-decoration: none;
  color: var(--text-primary);

  &:hover {
    background-color: var(--hover-surface);
    color: var(--text-primary);
    text-decoration: none;
  }

  &:active {
    color: var(--accent);
  }
}
