.button {
  border: none;
  background-color: var(--button-background, transparent);
  padding: var(--button-padding, 0.5rem 0.75rem);
  border-radius: var(--border-radius-default);
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: var(--font-size-button, var(--font-size-base));
  font-family: var(--font-family-body);
  cursor: pointer;

  &:disabled {
    --button-background: var(--button-disabled-background);

    color: var(--button-disabled-text);
    opacity: 0.45;
    cursor: default;
  }
}

.small {
  --font-size-button: var(--font-size-small);
  --button-padding: 0.25rem 0.5rem;
}

.primary {
  --button-background: var(--button-primary-background);

  color: var(--button-primary-text);

  &:hover:not(:disabled) {
    --button-background: var(--button-primary-hover);
  }

  &:active:not(:disabled) {
    --button-background: var(--button-primary-active);
  }
}

.secondary {
  border: 1px solid var(--button-secondary-border);

  &:hover:not(:disabled) {
    --button-background: var(--button-secondary-hover);
  }

  &:active:not(:disabled) {
    --button-background: var(--button-secondary-active);
  }
}

.iconButton {
  --button-padding: 0.4rem;

  height: var(--icon-size, 2rem);
  width: var(--icon-size, 2rem);

  &.small {
    --button-padding: 0.25rem;
    --icon-size: 1.5rem;
  }
}

.iconButton :global(svg) {
  height: 100%;
  width: 100%;
}
