.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.ingredientsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.submitButton {
  align-self: center;
}
