.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.servingsInput {
  width: 4rem;
}

.submitButton {
  align-self: center;
}
