.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  margin-block-start: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}
